################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VajaMVC/.vs/VajaMVC/v15/Server/sqlite3
/VajaMVC/.vs
/MVCNajprejKoda/.vs
/MVCNajprejKoda/MVCNajprejKoda/App_Data
/VajaNajprejBaza/.vs
/Postavitve/.vs
/Prodajalna/.vs
/PostavitveUWP/.vs/PostavitveUWP/v15
/PostavitveUWPVaja2/.vs/PostavitveUWPVaja2/v15
/Navigacija/.vs/Navigacija/v15
/Hamburger/.vs/Hamburger/v15
/NoviKontrolniki/.vs/NoviKontrolniki/v15
/Stili/.vs/Stili/v15
/GoNuts/.vs/GoNuts/v15
/PrilagojenVidez/.vs/PrilagojenVidez/v15
/.vs
/Mačka/.vs/Mačka/v15
/MVVMZapisi/.vs/MVVMZapisi/v15
/Vezanje/.vs/Vezanje/v15
/SKL/.vs/SKL/v15
